In [30]:
class Car:
    def __init__(self, name, milaege):
        self.name = name
        self.milaege = milaege
        
    def __str__(self): # dunder -> magic method
        return f"{self.name} -> {self.milaege}"
    
    def __add__(self, other):
        return self.name + other.name
    
    def __call__(self):
        return "I JUST GOT CALLED WOHOOOOO!!!"

In [31]:
c1 = Car("Nexon", 13)
c2 = Car("Altroz", 15)

In [32]:
print(c1)

# name -> milaege

Nexon -> 13

In [33]:
{3,4} + {4,5}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [34]:
c1 + c2
# c1.__add__(c2)
# Car.__add__(c1,c2)

'NexonAltroz'

In [35]:
Car.__add__(c1,c2)

'NexonAltroz'

In [36]:
c1()

'I JUST GOT CALLED WOHOOOOO!!!'

In [1]:
class BankAccount:
    def __init__(self, initial_balance):
        self.balance = initial_balance
        
    def deposit(self, amount):
        self.balance += amount
        
    def withdraw(self, amount):
        self.balance -= amount

In [2]:
b1 = BankAccount(10000)

In [3]:
b1.balance

10000

In [4]:
b1.deposit(5000)

In [5]:
b1.balance

15000

In [6]:
b1.withdraw(15000)

In [7]:
b1.balance

0

In [8]:
b1.balance = 2345678909876543234567898765432345678909876543

In [9]:
b1.balance

2345678909876543234567898765432345678909876543

In [15]:
class BankAccount:
    def __init__(self, initial_balance):
        self.__balance = initial_balance # balance is now a private property
        
    # setter functions
    def deposit(self, amount):
        self.__balance += amount
        
    def withdraw(self, amount):
        self.__balance -= amount
        
    # getter function
    def show_balance(self):
        return self.__balance

In [16]:
b1 = BankAccount(10000)

In [17]:
b1.__balance

AttributeError: 'BankAccount' object has no attribute '__balance'

In [18]:
b1.show_balance()

10000

In [22]:
b1._BankAccount__balance # Name Mangling

234567898765432123456789

In [20]:
b1._BankAccount__balance = 234567898765432123456789

In [21]:
b1.show_balance()

234567898765432123456789

In [28]:
# dir(b1)

In [37]:
class SchoolMember:
    def __init__(self, name):
        self.name = name

class Student(SchoolMember):
    def __init__(self, name, roll_number):
        self.roll_number = roll_number
        
        SchoolMember.__init__(self, name)

class Staff(SchoolMember):
    def __init__(self, name, salary):
        self.salary = salary
        
        SchoolMember.__init__(self, name)

class Teacher(Staff):
    def __init__(self, name, salary, department):
        self.department = department
        
        Staff.__init__(self, name, salary)

In [38]:
t1 = Teacher("Bipin", 10, "DSML")

In [39]:
t1.department

'DSML'

In [40]:
t1.name

'Bipin'

In [41]:
t1.salary

10

In [42]:
class SchoolMember:
    def __init__(self, name):
        self.name = name

class Student(SchoolMember):
    def __init__(self, name, roll_number):
        self.roll_number = roll_number
        
        super().__init__(name)

class Staff(SchoolMember):
    def __init__(self, name, salary):
        self.salary = salary
        
        super().__init__(name)

class Teacher(Staff):
    def __init__(self, name, salary, department):
        self.department = department
        
        super().__init__(name, salary) # super() is just a reference to the immediate parent class

In [43]:
int("1")

1

In [44]:
str(1)

'1'