In [1]:
'''
Question 1 -
1. Given a list a = [1,2,3,4,5]
2. How would create a list of squares of all these elements.

Example ->
a = [2,4,8]
sq_a = [4,16,64]
'''

'\nQuestion 1 -\n1. Given a list a = [1,2,3,4,5]\n2. How would create a list of squares of all these elements.\n\nExample ->\na = [2,4,8]\nsq_a = [4,16,64]\n'

In [2]:
a = [1,2,3,4,5]

In [3]:
result = []

for i in a:
    result.append(i**2)

In [4]:
result

[1, 4, 9, 16, 25]

In [5]:
[ i**2 for i in a ]

[1, 4, 9, 16, 25]

In [6]:
'''
Question 2 - 
You are given a list of heights in centimeters. You have to map heights to sizes.
Now,
h < 150 -> S
h >= 150 and h < 180 -> M
h >= 180 -> L

Example ->
INPUT = [140,160,170,190]
Output = [S, M, M, L]
'''

'\nQuestion 2 - \nYou are given a list of heights in centimeters. You have to map heights to sizes.\nNow,\nh < 150 -> S\nh >= 150 and h < 180 -> M\nh >= 180 -> L\n\nExample ->\nINPUT = [140,160,170,190]\nOutput = [S, M, M, L]\n'

In [7]:
a = [140, 160, 170, 190]

In [9]:
def sizing_logic(x):
    if x < 150:
        return "S"
    elif x >= 150 and x < 180:
        return "M"
    else:
        return "L"

In [10]:
[ sizing_logic(i) for i in a ]

['S', 'M', 'M', 'L']

In [12]:
x = 40

In [13]:
"S" if x < 150 else "M" if x >= 150 and x < 180 else "L"

'S'

In [14]:
[ "S" if x < 150 else "M" if x >= 150 and x < 180 else "L" for x in a]

['S', 'M', 'M', 'L']

In [15]:
'''
Question 3 - 
Print the multiplication table of all numbers from 1 to 10 using a single line of python.

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
.
.
.
10 20 30 40 50 60 70 80 90 100
'''

'\nQuestion 3 - \nPrint the multiplication table of all numbers from 1 to 10 using a single line of python.\n\n1 2 3 4 5 6 7 8 9 10\n2 4 6 8 10 12 14 16 18 20\n.\n.\n.\n10 20 30 40 50 60 70 80 90 100\n'

In [20]:
[ [ i*j for j in range(1,11) ] for i in range(1,11) ]

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [45]:
a = ["A", "B"]
b = ["C", "D"]

[ (i, j) for j in b for i in a ] # outer loop to inner loop from left to right

[('A', 'C'), ('B', 'C'), ('A', 'D'), ('B', 'D')]

In [46]:
for i in a:
    for j in b:
        print((i, j), end = " ")

('A', 'C') ('A', 'D') ('B', 'C') ('B', 'D')

In [23]:
for j in b:
    for i in a:
        print((i, j), end = " ")

('A', 'C') ('B', 'C') ('A', 'D') ('B', 'D')

In [25]:
# [ for i in a for j in b for k in c..... ]

In [26]:
s = { i for i in [1,2,3,4,5] }

In [27]:
s

{1, 2, 3, 4, 5}

In [28]:
d = { i:i**2 for i in [1,2,3,4,5] }

In [29]:
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [30]:
d1 = { f"key {i}":i for i in [1,2,3,4,5] }

In [31]:
d1

{'key 1': 1, 'key 2': 2, 'key 3': 3, 'key 4': 4, 'key 5': 5}

In [32]:
t = ( i for i in [1,2,3,4,5] )

In [34]:
t # bizarre output!

In [35]:
s1 = "x for x in range(1,10)"

In [36]:
s1

'x for x in range(1,10)'

In [41]:
" ".join([ str(i) for i in range(1,11) ])

'1 2 3 4 5 6 7 8 9 10'