# Tuples

In [1]:
a = [1,2,3,4]

In [2]:
a.append(5)

In [6]:
a # more elements can be added

[100, 2, 3, 4, 5]

In [4]:
a[0] = 100

In [7]:
a # elements can be modified

[100, 2, 3, 4, 5]

In [8]:
a = (1,2,3,4)

In [9]:
a.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [10]:
a[0] = 100

TypeError: 'tuple' object does not support item assignment

In [11]:
a.remove(4)

AttributeError: 'tuple' object has no attribute 'remove'

In [12]:
a = (1,2,3,4,5,6,7,8,9,10)

In [14]:
a[6] # 0 based indexing

7

In [17]:
a[2:8] # slicing

(3, 4, 5, 6, 7, 8)

In [18]:
a[-2] # negative indexing

9

In [19]:
for i in a:
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [20]:
a

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [22]:
type(a)

tuple

In [23]:
a = ()

In [24]:
type(a)

tuple

In [25]:
a = []

In [26]:
type(a)

list

In [31]:
a = (45)
# Python does not have clarity
# Could be a mathematical expression as well

In [32]:
type(a)

int

In [37]:
t = (45**1) // 34

In [38]:
t

1

In [39]:
a = (45,)

In [40]:
type(a)

tuple

In [41]:
a = [1,2,3,4,5]

In [44]:
t = tuple(a) # typecasting between a list and tuple is allowed

In [45]:
t

(1, 2, 3, 4, 5)

In [46]:
a = (1,2,3)

In [47]:
a

(1, 2, 3)

In [48]:
l = list(a)

In [51]:
type(l)

list

In [52]:
t1 = (1,2,3)
t2 = (4,5,6)

In [55]:
t3 = t1 + t2 # tuples also support concatenation

In [56]:
t3

(1, 2, 3, 4, 5, 6)

In [57]:
'''
Question 1 - 
What will be the output of the following?
(4) + (1,2,3)
'''

'\nQuestion 1 - \nWhat will be the output of the following?\n(4) + (1,2,3)\n'

In [58]:
4 + [1,2,3]

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [59]:
(4) + (1,2,3)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [60]:
(4,) + (1,2,3)

(4, 1, 2, 3)

In [64]:
'''
Question 2 - 
What will be the output of the following?
type(("random?"))
'''

'\nQuestion 2 - \nWhat will be the output of the following?\ntype(("random?"))\n'

In [62]:
type(("random?"))

str

In [65]:
a = ("random?",)
type(a)

tuple

In [66]:
'''
Question 3 - 
Given an input string, write code to generate a list of all its characters.

INPUT - "abc"
OUTPUT - ["a", "b", "c"]
'''

'\nQuestion 3 - \nGiven an input string, write code to generate a list of all its characters.\n\nINPUT - "abc"\nOUTPUT - ["a", "b", "c"]\n'

In [67]:
def convert_to_list(a):
    result = []

    for i in a:
        result.append(i)
        
    return result

In [68]:
convert_to_list("random")

['r', 'a', 'n', 'd', 'o', 'm']

In [69]:
a = "random"

In [70]:
list(a)

['r', 'a', 'n', 'd', 'o', 'm']

In [75]:
tuple(a)

('r', 'a', 'n', 'd', 'o', 'm')

In [76]:
# PACKING AND UNPACKING

In [77]:
a = (1,2,3)

In [78]:
x, y, z = a

In [79]:
x

1

In [80]:
y

2

In [81]:
z

3

In [84]:
x, y = (1,2,3)
# WE WILL LEARN HOW TO HANDLE THIS CASE IN INTERMEDIATE

ValueError: too many values to unpack (expected 2)

In [83]:
w, x, y, z = (1,2,3)

ValueError: not enough values to unpack (expected 4, got 3)

In [85]:
a, b = ("random", "strings")

In [86]:
type(a)

str

In [88]:
a

'random'

In [87]:
type(b)

str

In [89]:
b

'strings'

In [90]:
def foo():
    return 100, 200, 300 # return multiple values from a function

In [91]:
a = foo()

In [92]:
a

(100, 200, 300)

In [97]:
x, y, z = foo() # both packing and unpacking working together

In [98]:
x

100

In [99]:
y

200

In [100]:
z

300

In [101]:
a = [(1,"Bipin"), (2, "Gokul"), (4, "Nakul"), (3, "Vidish"), (5, "Yoginder")]

In [102]:
for i in a:
    print(i)

(1, 'Bipin')
(2, 'Gokul')
(4, 'Nakul')
(3, 'Vidish')
(5, 'Yoginder')

In [103]:
for roll, name in a:
    print(f"My roll Number is {roll} and name is {name}!")

My roll Number is 1 and name is Bipin!
My roll Number is 2 and name is Gokul!
My roll Number is 4 and name is Nakul!
My roll Number is 3 and name is Vidish!
My roll Number is 5 and name is Yoginder!

In [104]:
for i in a:
    print(f"My roll Number is {i[0]} and name is {i[1]}!")

My roll Number is 1 and name is Bipin!
My roll Number is 2 and name is Gokul!
My roll Number is 4 and name is Nakul!
My roll Number is 3 and name is Vidish!
My roll Number is 5 and name is Yoginder!

In [105]:
'''
Question 4 -
Write code to swap two variable values using a third variable.
'''

'\nQuestion 4 -\nWrite code to swap two variable values using a third variable.\n'

In [106]:
a = 4
b = 5

In [107]:
temp = a
a = b
b = temp

In [108]:
a

5

In [109]:
b

4

In [110]:
a = 5
b = 10

In [114]:
b = a + b # b -> 15
a = b - a # b -> 15, a -> 10
b = b - a # b -> 5

In [112]:
a

10

In [113]:
b

5

In [116]:
a = 5
b = 10

In [117]:
a, b = b, a

In [118]:
a

10

In [119]:
b

5

In [120]:
'''
Question 5 -
What will be the output of the following - 
a = 1,2,3,4,5
'''

'\nQuestion 5 -\nWhat will be the output of the following - \na = 1,2,3,4,5\n'

In [121]:
a = 1,2,3,4,5

In [122]:
a

(1, 2, 3, 4, 5)

In [123]:
a = "a", "b", "c"

In [124]:
a

('a', 'b', 'c')

In [127]:
a = ("string", 67, 89.7, True,)
# TUPLES ARE ALSO HETEROGENEOUS

In [128]:
a

('string', 67, 89.7, True)

# Sets

In [129]:
a = {1,2,3,3,3,3,3,3,4,5,5,6,1,1,2,7,8,8,8,8,8}

In [130]:
a

{1, 2, 3, 4, 5, 6, 7, 8}

In [132]:
a[0] # indexing is not available for python sets

TypeError: 'set' object is not subscriptable

In [133]:
a = {}

In [134]:
type(a)

dict

In [135]:
a = {,}

SyntaxError: invalid syntax (2287826450.py, line 1)

In [138]:
a = set() # this is the way to create an empty set in python

In [137]:
a

set()

In [139]:
a = []

In [140]:
s = set(a)

In [141]:
s

set()

In [145]:
a = {1,2,3}

In [146]:
a[0] = 400 # since indexing is not allowed

TypeError: 'set' object does not support item assignment

In [147]:
a = {4,3,2,1,7}

In [149]:
a # seems like sets are present in an ascending order in python

{1, 2, 3, 4, 7}

In [150]:
a = {1,2,3}

In [151]:
a.add(6)

In [152]:
a

{1, 2, 3, 6}

In [153]:
a.remove(3)

In [154]:
a

{1, 2, 6}

In [155]:
a = {1,2,3,4}

In [156]:
a.add(1)

In [157]:
a

{1, 2, 3, 4}

In [158]:
a = {1,2}

In [161]:
a.update([1,2,3,4,5,6]) # add multiple elements at once

In [162]:
a

{1, 2, 3, 4, 5, 6}

In [163]:
a.add(10)

In [164]:
a

{1, 2, 3, 4, 5, 6, 10}

In [165]:
'''
Question 6 - 
Take a string as input.
Print the number of unique characters present inside that string.

"aabbcccd" -> 4
'''

'\nQuestion 6 - \nTake a string as input.\nPrint the number of unique characters present inside that string.\n\n"aabbcccd" -> 4\n'

In [166]:
a = "this is a random string!"

In [168]:
set(a)

{' ', '!', 'a', 'd', 'g', 'h', 'i', 'm', 'n', 'o', 'r', 's', 't'}

In [167]:
len(set(a))

13

In [169]:
a = "aaabbbdddccce"

In [170]:
set(a)

{'a', 'b', 'c', 'd', 'e'}

In [171]:
s1 = {2,3,4}
s2 = {1,2,4,5,6}

In [172]:
s1.intersection(s2)

{2, 4}

In [173]:
s1 & s2

{2, 4}

In [174]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [175]:
s1 | s2

{1, 2, 3, 4, 5, 6}

In [176]:
s1.difference(s2)

{3}

In [177]:
s1 - s2

{3}

In [178]:
s1.symmetric_difference(s2)

{1, 3, 5, 6}

In [179]:
s1 ^ s2

{1, 3, 5, 6}

In [182]:
a = "111214112325163512735541"

b = set(a)

In [181]:
len(a)

24

In [183]:
len(b)

7

In [184]:
list = "seomthing"

In [185]:
a = list((1,2,3))

TypeError: 'str' object is not callable

In [186]:
# a = [[20, 2], [30, 40]...]