In [1]:
a = {
    "tag1" : "value1",
    "tag2" : "value2"
}

In [6]:
# Approach 1 -> List of tuples
state_wise_data = [("Delhi", 20), ("Haryana", 35), ("UP", 100)]

In [7]:
state_wise_data[2]

('UP', 100)

In [11]:
# Approach 2 -> Dictionary
state_wise_data = {
    "Delhi": 20,
    "Haryana": 35,
    "UP": 100
}

In [12]:
state_wise_data["Delhi"]

20

In [13]:
state_wise_data["UP"]

100

In [15]:
state_wise_data[0] # numerical indexes do not exist in a dictionary

KeyError: 0

In [17]:
state_wise_data.Delhi # does not work

AttributeError: 'dict' object has no attribute 'Delhi'

In [18]:
state_wise_data

{'Delhi': 20, 'Haryana': 35, 'UP': 100}

In [19]:
'''
Before Python 3.7 -> Dictionaries were unordered.
After Python 3.7 -> Dictionaries are ordered internally but still not indexable using 0 based indexing.
'''

'\nBefore Python 3.7 -> Dictionaries were unordered.\nAfter Python 3.7 -> Dictionaries are ordered internally but still not indexable using 0 based indexing.\n'

In [20]:
a = {}

In [21]:
type(a)

dict

In [31]:
a = {
    "Delhi": 20,
    "Haryana": 35,
    "UP": 100
}

In [25]:
a["Maharashtra"] = 75
# we can add new key value pairs to the dictionary

In [26]:
a

{'Delhi': 20, 'Haryana': 35, 'UP': 100, 'Maharashtra': 75}

In [29]:
a["delhi"] = 30
# keys follow the same principle of case sentitivity in Python

In [30]:
a

{'Delhi': 20, 'Haryana': 35, 'UP': 100, 'Maharashtra': 75, 'delhi': 30}

In [33]:
a = {
    "Delhi": 20,
    "Haryana": 35,
    "UP": 100
}

In [36]:
a["Delhi"] = 25
# Old key value pairs can be updated

In [35]:
a

{'Delhi': 25, 'Haryana': 35, 'UP': 100}

In [37]:
# Heterogeneity in a dictionary
# Keys -> Strings
# VALUES -> We can have any python object

In [38]:
Avenger = {
    "name" : "Thor",
    "age" : 1500,
    "weapon" : ["stormbreaker", "mjolnir"]
}

In [39]:
# adding values and updating values together

In [40]:
Avenger.update({
    "name" : "Thor Odinson",
    "weapon" : ["stormbreaker"],
    "strongest?" : True,
    "eyes" : 1
})

In [41]:
Avenger

{'name': 'Thor Odinson',
 'age': 1500,
 'weapon': ['stormbreaker'],
 'strongest?': True,
 'eyes': 1}

In [42]:
random = {
    "a" : 1,
    "b" : 2,
    "c" : 3,
    "d" : None
}

In [43]:
random["b"]

2

In [46]:
result = random["e"] # keyerror in case key is not present

KeyError: 'e'

In [47]:
result = random.get("e")

In [48]:
print(result)

None

In [49]:
result = random.get("e", "Not Found!")
# This default value will be returned in case the key is not present

In [50]:
result

'Not Found!'

In [52]:
random.get("b")

2

In [53]:
a = "string"

In [54]:
a

'string'

In [55]:
Avenger

{'name': 'Thor Odinson',
 'age': 1500,
 'weapon': ['stormbreaker'],
 'strongest?': True,
 'eyes': 1}

In [57]:
Avenger["weapon"].append("mjolnir")

In [58]:
Avenger

{'name': 'Thor Odinson',
 'age': 1500,
 'weapon': ['stormbreaker', 'mjolnir'],
 'strongest?': True,
 'eyes': 1}

In [59]:
random

{'a': 1, 'b': 2, 'c': 3, 'd': None}

In [60]:
random.pop("d")
# takes a key as input to delete a key value pair

In [61]:
random

{'a': 1, 'b': 2, 'c': 3}

In [62]:
random.pop("b")

2

In [63]:
random

{'a': 1, 'c': 3}

In [64]:
# KEYS DICTIONARY ARE SUPPOSED TO BE UNIQUE

In [65]:
a = {
    "a" : 3
}

In [66]:
a["a"] = 4

In [67]:
a

{'a': 4}

In [68]:
random

{'a': 1, 'c': 3}

In [69]:
random.pop()

TypeError: pop expected at least 1 argument, got 0

In [72]:
'''
Question 1 - 
Given two dictionaries A and B, Write a python program to merge these dictionaries.

Example -
A = {
    "a" : 4,
    "b" : 5,
    "c" : 6
}

B = {
    "b" : 1,
    "d" : 20
}

Result = {
    "a" : 4,
    "b" : 1,
    "c" : 6,
    "d" : 20
}
'''

'\nQuestion 1 - \nGiven two dictionaries A and B, Write a python program to merge these dictionaries.\n\nExample -\nA = {\n    "a" : 4,\n    "b" : 5,\n    "c" : 6\n}\n\nB = {\n    "b" : 1,\n    "d" : 20\n}\n\nResult = {\n    "a" : 4,\n    "b" : 1,\n    "c" : 6,\n    "d" : 20\n}\n'

In [76]:
A = {
    "a" : 4,
    "b" : 5,
    "c" : 6
}

B = {
    "b" : 1,
    "d" : 20
}

In [77]:
A.update(B)

In [78]:
A

{'a': 4, 'b': 1, 'c': 6, 'd': 20}

In [79]:
# ITERATION IN A DICTIONARY

In [99]:
a = Avenger

In [82]:
a

{'name': 'Thor Odinson',
 'age': 1500,
 'weapon': ['stormbreaker', 'mjolnir'],
 'strongest?': True,
 'eyes': 1}

In [84]:
for i in a: # traversal over the keys
    print(i)

name
age
weapon
strongest?
eyes

In [85]:
for i in a: # traversal over the values
    print(a[i])

Thor Odinson
1500
['stormbreaker', 'mjolnir']
True
1

In [87]:
for i in a: # traveral over the entire key value pair
    print(f"{i} -> {a[i]}")

name -> Thor Odinson
age -> 1500
weapon -> ['stormbreaker', 'mjolnir']
strongest? -> True
eyes -> 1

In [88]:
for i in a.keys():
    print(i)

name
age
weapon
strongest?
eyes

In [89]:
list(a.keys())

['name', 'age', 'weapon', 'strongest?', 'eyes']

In [90]:
for i in a.values():
    print(i)

Thor Odinson
1500
['stormbreaker', 'mjolnir']
True
1

In [91]:
list(a.values())

['Thor Odinson', 1500, ['stormbreaker', 'mjolnir'], True, 1]

In [92]:
for i in a.items():
    print(i)

('name', 'Thor Odinson')
('age', 1500)
('weapon', ['stormbreaker', 'mjolnir'])
('strongest?', True)
('eyes', 1)

In [93]:
list(a.items())

[('name', 'Thor Odinson'),
 ('age', 1500),
 ('weapon', ['stormbreaker', 'mjolnir']),
 ('strongest?', True),
 ('eyes', 1)]

In [95]:
for key, value in a.items():
    print(f"{key} -> {value}")
    
# for i in a:
#     print(f"{i} -> {a[i]}")

name -> Thor Odinson
age -> 1500
weapon -> ['stormbreaker', 'mjolnir']
strongest? -> True
eyes -> 1

In [96]:
a = [1,2,3,4,5]

In [97]:
6 in a

False

In [100]:
"battle" in a.keys()

False

In [101]:
"eyes" in a.keys()

True

In [103]:
'''
Question 2 - 
1. Take a string as input.
2. Create a dictionary acc to the following criteria - 
- There will be one key value pair for each unique character - 
- Key will be character and value will be the count of character inside the string

INPUT - "rrsssstttt"
OUTPUT -
{
    "r": 2,
    "s": 4,
    "t": 4
}
'''

'\nQuestion 2 - \n1. Take a string as input.\n2. Create a dictionary acc to the following criteria - \n- There will be one key value pair for each unique character - \n- Key will be character and value will be the count of character inside the string\n\nINPUT - "rrsssstttt"\nOUTPUT -\n{\n    "r": 2,\n    "s": 4,\n    "t": 4\n}\n'

In [104]:
a = "bipin kalra is a weeb!"

In [105]:
a

'bipin kalra is a weeb!'

In [106]:
set(a)

{' ', '!', 'a', 'b', 'e', 'i', 'k', 'l', 'n', 'p', 'r', 's', 'w'}

In [107]:
result = {}

for i in set(a):
    result[i] = a.count(i)

In [108]:
result

{'e': 2,
 '!': 1,
 'i': 3,
 'k': 1,
 's': 1,
 'w': 1,
 'p': 1,
 'b': 2,
 ' ': 4,
 'l': 1,
 'n': 1,
 'r': 1,
 'a': 3}

In [109]:
a = "hfesfghjsdgf"

In [110]:
set(a)

{'d', 'e', 'f', 'g', 'h', 'j', 's'}

In [111]:
# Mutable (Can be changed) -> Lists, Sets and Dictionaries
# Immutable (Can't be changed) -> Int, Float, Boolean, String, Tuples

In [112]:
{
    "keys -> ANY IMMUTABLE DATA STRUCTURE": "values -> ANY MUTABLE OR IMMUNTABLE DATA STRUCTURE"
}

{'keys -> ANY IMMUTABLE DATA STRUCTURE': 'values -> ANY MUTABLE OR IMMUNTABLE DATA STRUCTURE'}

In [113]:
random = {
    "key1" : [4,45,67],
    "key2" : {
        (1,2,3): 45
    },
    45: "value3",
    45.67: "value4",
    True: "value5"
}

In [114]:
random = {
    "key1" : [4,45,67],
    "key2" : {
        (1,2,3): 45
    },
    45: "value3",
    45.67: "value4",
    True: "value5",
    [6,7,8]: "value6"
}

TypeError: unhashable type: 'list'

In [115]:
# WE WILL LEARN MORE ABOUT THIS IN 2 INTERMEDIATE LECTURES ->
# 1. Python Refresher 1 -> Mutable vs Immutable
# 2. Hashing -> Why Sets and Dictionaries give this erro

In [116]:
a

'hfesfghjsdgf'

In [117]:
a = {
    "a": 1,
    "b": 2
}

In [118]:
tuple(a)

('a', 'b')

In [119]:
list(a)

['a', 'b']

In [120]:
a = [("a", 1), ("b", 2)]

In [121]:
dict(a)

{'a': 1, 'b': 2}

In [122]:
a = (1,2,3)

In [123]:
dict(a)

TypeError: cannot convert dictionary update sequence element #0 to a sequence