In [1]:
range(2,5)

range(2, 5)

In [2]:
for i in range(2,5):
    print(i)

2
3
4

In [3]:
range(8) # start is automatically set to 0 by default

range(0, 8)

In [6]:
range(1.7, 8.7)

TypeError: 'float' object cannot be interpreted as an integer

In [7]:
range(1, 8, 0.5)

TypeError: 'float' object cannot be interpreted as an integer

In [8]:
range(8, 2, -1)

range(8, 2, -1)

In [9]:
for i in range(8, 2, -1):
    print(i)

8
7
6
5
4
3

In [10]:
for i in range(8, 2, 0):
    print(i)

ValueError: range() arg 3 must not be zero

In [11]:
len(range(1,8))

7

In [12]:
len(range(1,8,2))

4

In [13]:
len(range(29,9,2))

0

In [14]:
len(range(-2,7,-1))

0

In [16]:
'''
Question 1 - 
Print all numbers from 1 to N using for loop.
Take N as input from the user.
'''

'\nQuestion 1 - \nPrint all numbers from 1 to N using for loop.\nTake N as input from the user.\n'

In [17]:
number = int(input())

for i in range(1, number + 1):
    print(i, end = " ")

10
1 2 3 4 5 6 7 8 9 10

In [18]:
'''
Question 2 - 
Take N as input from the user.
Calculate the sum of all numbers from 1 to N.
'''

'\nQuestion 2 - \nTake N as input from the user.\nCalculate the sum of all numbers from 1 to N.\n'

In [19]:
number = int(input())

final_sum = 0

for value in range(1, number + 1):
    final_sum += value
    
print(final_sum)

10
55

In [20]:
'''
Question 3 - 
Take N an input from the user.
Calculate the product of all numbers from 1 to N.
'''

'\nQuestion 3 - \nTake N an input from the user.\nCalculate the product of all numbers from 1 to N.\n'

In [22]:
number = int(input())

factorial = 1

for i in range(1, number + 1):
    factorial *= i
    
print(factorial)

4
24

In [25]:
'''
Question 4 - 
Take N as input from the user.
Calculate the product of all even numbers between 1 and N. Both included.
'''

'\nQuestion 4 - \nTake N as input from the user.\nCalculate the product of all even numbers between 1 and N. Both included.\n'

In [28]:
number = int(input())

even_product = 1

for i in range(2, number + 1,2):
    even_product *= i

print(even_product)

9
384

In [29]:
'''
Question 5 - 
Take start and end as input from the user.
Calculate the product of all even numbers between start and end.
Both included.
'''

'\nQuestion 5 - \nTake start and end as input from the user.\nCalculate the product of all even numbers between start and end.\nBoth included.\n'

In [31]:
# First Way
start = int(input("Start - "))
end = int(input("End - "))

even_product = 1

for i in range(start, end + 1):
    if i % 2 == 0 and i != 0:
        even_product *= i
        
print("Even Product -", even_product)

Start - 2
End - 9
Even Product - 384

In [34]:
# Second Way
start = int(input("Start - "))
end = int(input("End - "))

even_product = 1

if start == 0:
    x = 2
elif start % 2 == 0:
    x = start
else:
    x = start + 1
    
for i in range(x, end + 1, 2):
    even_product *= i
        
print("Even Product -", even_product)

Start - 2
End - 9
Even Product - 384

In [35]:
print(list(range(2,10,2)))

[2, 4, 6, 8]

In [36]:
print(list(range(2,-10,1)))

[]

In [37]:
print(list(range(2,-10,-2)))

[2, 0, -2, -4, -6, -8]

In [39]:
'''
Question 6 -
Print all the numbers from an input N to 1 in reverse order.
N > 1 -> Given
'''

'\nQuestion 6 -\nPrint all the numbers from an input N to 1 in reverse order.\nN > 1 -> Given\n'

In [41]:
number = int(input())

for i in range(number, 0, -1):
    print(i, end = " ")

19
19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [42]:
'''
Question 6 -
Print all the numbers from an input N to 1 in reverse order.
Without using a negative jump!
N > 1 -> Given
'''

'\nQuestion 6 -\nPrint all the numbers from an input N to 1 in reverse order.\nWithout using a negative jump!\nN > 1 -> Given\n'

In [46]:
# First Way

n = int(input())

for i in range(1, n + 1):
    print(n - i + 1, end = " ")

8
8 7 6 5 4 3 2 1

In [48]:
# Second Way

n = int(input())

for i in range(-n, 0):
    print(-i, end = " ")

8
8 7 6 5 4 3 2 1

In [51]:
name = "BIPIN KALRA!"
# string is also an iterable in python just like range

for i in name:
    print(i)

B
I
P
I
N

K
A
L
R
A
!

In [53]:
a = 1234567

In [54]:
digit = a % 10

In [55]:
digit

7

In [58]:
a = a // 10

In [59]:
a

123456