In [1]:
'''
Question 1 - 
Print the following pattern - 
*
**
***
****
*****
Input provided will be number of rows.
'''

'\nQuestion 1 - \nPrint the following pattern - \n*\n**\n***\n****\n*****\nInput provided will be number of rows.\n'

In [2]:
"random"*3

'randomrandomrandom'

In [7]:
n = int(input())

for i in range(1, n + 1):
    print("*" * i)

5
*
**
***
****
*****

In [9]:
n = int(input())

for i in range(n):
    for j in range(i + 1):
        print("*", end = "")
        
    print()

5
*
**
***
****
*****

In [13]:
'''
Question 2 - 
Print the following pattern - 
1
12
123
1234
12345
Input provided will be number of rows.
'''

'\nQuestion 2 - \nPrint the following pattern - \n1\n12\n123\n1234\n12345\nInput provided will be number of rows.\n'

In [14]:
n = int(input())

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end = "")
        
    print()

5
1
12
123
1234
12345

In [16]:
'''
Question 3 - 
Print the following pattern - 
*
*2
*2*
*2*4
*2*4*
*2*4*6
Input provided will be number of rows.
'''

'\nQuestion 3 - \nPrint the following pattern - \n*\n*2\n*2*\n*2*4\n*2*4*\n*2*4*6\nInput provided will be number of rows.\n'

In [18]:
n = int(input())

for i in range(1, n + 1):
    for j in range(1, i + 1):
        if j % 2 == 1:
            print("*", end = "")
        else:
            print(j, end = "")
        
    print()

10
*
*2
*2*
*2*4
*2*4*
*2*4*6
*2*4*6*
*2*4*6*8
*2*4*6*8*
*2*4*6*8*10

In [19]:
'''
Question 4 - 
Print the following pattern - 
*****
****
***
**
*
Input provided will be number of rows.
'''

'\nQuestion 4 - \nPrint the following pattern - \n*****\n****\n***\n**\n*\nInput provided will be number of rows.\n'

In [20]:
n = int(input())

for i in range(n):
    for j in range(n-i):
        print("*", end = "")
        
    print()

5
*****
****
***
**
*

In [21]:
n = int(input())

for i in range(n):
    print("*" * (n - i))

5
*****
****
***
**
*

In [22]:
'''
Question 5 - 
Print the following pattern - 
    *
   **
  ***
 ****
*****
Input provided will be number of rows.
'''

'\nQuestion 5 - \nPrint the following pattern - \n    *\n   **\n  ***\n ****\n*****\nInput provided will be number of rows.\n'

In [24]:
n = int(input())

for i in range(n):
    for j in range(n-i-1):
        print(" ", end = "")
        
    for k in range(i+1):
        print("*", end = "")
        
    print()
    
# HOMEWORK
# Try to optimize this using the string multiplication syntax

6
     *
    **
   ***
  ****
 *****
******

In [28]:
'''
Question 5 -
Take a name as input from the user. Print the following pattern using that name.

INPUT - BIPIN
OUTPUT - 
B****
*I***
**P**
***I*
****N
'''

'\nQuestion 5 -\nTake a name as input from the user. Print the following pattern using that name.\n\nINPUT - BIPIN\nOUTPUT - \nB****\n*I***\n**P**\n***I*\n****N\n'

In [29]:
len("random string")

13

In [34]:
random = "BIPIN"

In [35]:
random[0]

'B'

In [36]:
random[1]

'I'

In [37]:
random[2]

'P'

In [41]:
name = input()

n = len(name)

for i in range(n):
    for j in range(n):
        if i == j:
            print(name[i], end = "")
        else:
            print("*", end = "")
    
    print()

ABRACADABRA
A**********
*B*********
**R********
***A*******
****C******
*****A*****
******D****
*******A***
********B**
*********R*
**********A